$textColor: #3A3A3A;
$blueAccent: #7092E0;
$darkBlueAccent: #151928;
$backgroundColor: #F8F9FA;

$blueGradient: linear-gradient(83.56deg, #7092E0 10.01%, #8BAEF3 75.36%);
$darkGradient: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
$darkGradientTB: linear-gradient(180deg, #313860 0%, #151928 25.06%);
